Django==6.0.7
django-filter==25.2
django-stubs==6.0.6
django-stubs-ext==6.0.6
djangorestframework==3.17.1
djangorestframework-stubs==3.17.0
sqlparse==0.5.5
types-PyYAML==6.0.12.20260518
typing_extensions==4.16.0
asgiref==3.11.1